#btn {
    
    background-image: linear-gradient(to left,#C4E538,#009432,#C4E538);
    transition: 0,6s;
    box-shadow: 0 0 20px #00000060;
    border-radius: 40px;
    margin-right: 20px;
    color:black;
    margin-top: 20px;
}

#btn1 {
    
    background-image: linear-gradient(to left, #FFC312, #EE5A24, #FFC312);
    transition: 0,6s;
    box-shadow: 0 0 20px #00000060;
    border-radius: 40px;
    width: 150px;
    margin-top: 20px;
}

#btn2 {
    
    background-image: linear-gradient(to left,#C4E538,#009432,#C4E538);
    transition: 0,6s;
    box-shadow: 0 0 20px #00000060;
    border-radius: 40px;
    margin-right: 20px;
    margin-top: 30px;
    margin-left: 15px;
    color: black;
    width: 150px;
    height: 50px;
    
}

#btn:hover {
    opacity: .5;
    
}

#btn1:hover {
    opacity: .5;
}

#btn2:hover {
    opacity: .5;
}

.form-control {
    border-radius: 40px;
    background: #f1f1f199;
    position: relative;
    font-size: 20px;
    width: 100%;
}

.jumbotron {
    border-radius: 50px;
    background: #f1f1f199;
}

.form-group {
    margin-left: 10px;
}

p {
    margin-top: 50px;

}


